@import 'tailwindcss';
@plugin "daisyui" {
  themes: coffee --default;
  root: ':root';
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}



body::-webkit-scrollbar {
  display: none;
}
:root {
  /* background-color: #212121;
  color: #d7d7d7; */
  --background: var(--background)
  --foreground: var(--foreground);
} 


body {
  font-family: Rubix, Helvetica, sans-serif;
}
/* styles.css or global.css */
.classic-theme {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #fff;
}

.modern-theme {
  font-family: Helvetica Neue, sans-serif;
  background-color: #f9f9f9;
}

.fancy-theme {
  border: 2px dashed #d63384;
  font-family: 'Cursive, Comic Sans MS, sans-serif';
}
