@import 'tailwindcss';
@plugin "daisyui" {
  themes: cmyk --default;
  root: ':root';
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}



body::-webkit-scrollbar {
  display: none;
}
:root {
  font-family: Rubix, Helvetica, sans-serif;
  --background: var(--background)
  --foreground: var(--foreground);
  overflow: hidden;
} 

.classic-theme {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #fff;
}

.modern-theme {
  font-family: Helvetica Neue, sans-serif;
  background-color: #f9f9f9;
}

.fancy-theme {
  border: 2px dashed #d63384;
  font-family: 'Cursive, Comic Sans MS, sans-serif';
}

.text-container {
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.text-title {
  font-size: clamp(1rem, 2.5vw, 1.75rem);
  font-weight: bold;
}

.text-subtitle {
  font-size: clamp(0.9rem, 2vw, 1.25rem);
}

.text-body {
  font-size: clamp(0.75rem, 1.2vw, 1rem);
  line-height: 1.5;
}
